body {
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/pexels-juan-pablo-serrano-arenas-1242348.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 2%;
  padding-right: 2%;
  box-sizing: border-box;
}
.navbar {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 50px;
  cursor: pointer;
}
.menu-icon{
  width: 30px;
  cursor: pointer;
  margin-left: 40px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 60px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.navbar .title {
  flex: 1; 
  padding-left: 550px;
  color: #fff; 
  font-size: 28px; 
}

li a.active {
  color: hsl(66, 89%, 34%);
  font-size: 22px;
}

.qul {
  float: left;
  margin-left: 30%; /* Beispiel: 10% des Bildschirmbreite */
  margin-top: 10vh; /* Beispiel: 5% der Bildschirmhöhe */
  width: 400px;
}

.qul li {
  font-size: 2vw; /* Beispiel: 2% der Bildschirmbreite */
  color: whitesmoke;
  margin-top: 2vh; /* Beispiel: 2% der Bildschirmhöhe */
  margin-bottom: 2vh; /* Beispiel: 2% der Bildschirmhöhe */
  white-space: nowrap;
}

.book {
  float: right;
  width: 100%;
  margin-left: 600px;
  margin-top: 100px;
}
.book img{
  width: 100%;
  height: auto;
}

/* from the other template*/


@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
 

 
 
.page-content {
  margin-top: 0px;
  display: grid;
  grid-gap: 3rem;
  padding: 1rem;
  max-width: 1500px;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(6, 1fr);
  }
}
 
.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 230px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(images/verdun.jpg);
  background-position: -40px -10px; /* 40 px nach rechst und 10 px nach unten verschoben*/
}
.card:nth-child(2):before {
  background-image: url(images/rel.jpg);
  background-position: center;
}
.card:nth-child(3):before {
  background-image: url(images/proxy-image.jpg);
  background-position: center;
}
.card:nth-child(4):before {
  background-image: url(images/napoleon-bonaparte-67784_1280.jpg);
  background-position: -20px;
}
.card:nth-child(5):before {
  background-image: url(images/guerre.jpg);
  background-position: -270px -20px;
}
.card:nth-child(6):before {
  background-image: url(images/premiere.jpg);
  background-position: center;
}
.card:nth-child(7):before {
  background-image: url(images/hit.jpg);
}
.card:nth-child(8):before {
  background-image: url(images/ely.jpg);
  background-position: -100px -35px;
}
.card:nth-child(9):before {
  background-image: url(images/arte.jpg);
}
.card:nth-child(10):before {
  background-image: url(images/pass.jpg);
}
.card:nth-child(11):before {
  background-image: url(images/euros-billets-et-pieces-1456098552bzp.jpg);
}
 
.content {
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content li{
  text-align: left;
}

.content > * + * {
  margin-top: 1rem;
}
 
.title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: -45px;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.6);
}
 
.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
 
.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.85rem 1.8rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: #1D294C;
  border: none;
}
.btn:hover {
  background-color: #fff;
  color:#1D294C;
  font-weight:500;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}
 
@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }
 
  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
 
  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
 
  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
